body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000066;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
  text-align: center;
}

.button-container {
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.button {
  width : 30%;
  height : 20%;
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #ccc;
  color: #333;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #555;
}

.container {
  display: flex;
  flex-direction: column;
}

.container img {
  margin-bottom: 10px;
}

.button-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: 50vh;
    background-image: url('https://img.freepik.com/free-vector/construction-realistic-with-orange-helmet-caution-placard-fencing-tape-with-yellow-black-stripes_1284-28793.jpg?w=1060&t=st=1698679029~exp=1698679629~hmac=2f60d4c55a460671da17b068637a99db071462fa80d06dd08d4798209f50aa14'); /* Replace with the URL of the image you want to use */
    background-size: cover; /* Adjust how the background image is displayed */
}

.grid-item {
    border: 1px solid #ddd; /* Add borders or styling to your grid items */
    padding: 20px;
    text-align: center;
}


