body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000066;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
  text-align: center;
}

.button-container {
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.button {
  width : 30%;
  height : 20%;
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #ccc;
  color: #333;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #555;
}

.container {
  display: flex;
  flex-direction: column;
}

.container img {
  margin-bottom: 10px;
}

.button-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: 50vh;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fmartincity.org%2F135th-st-construction-progress-report%2F&psig=AOvVaw0BrrI0OHGxAC22uUjIrdco&ust=1698752200374000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCLDfoKHXnYIDFQAAAAAdAAAAABAV'); /* Replace with the URL of the image you want to use */
    background-size: cover; /* Adjust how the background image is displayed */
}

.grid-item {
    border: 1px solid #ddd; /* Add borders or styling to your grid items */
    padding: 20px;
    text-align: center;
}


